<a href="https://colab.research.google.com/github/Asmaulhusnamir/PEMBELAJARAN-MESIN-A/blob/main/PM_PERTEMUAN_2(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
import pandas as pd
#library pandas

In [46]:
apel = pd.Series([5,2,0,1])
#datasetny namanya apel

In [47]:
jeruk = pd.Series([0,3,8,2], index=[1,2,3,4])

In [48]:
print(apel)

0    5
1    2
2    0
3    1
dtype: int64

In [49]:
print(jeruk)

1    0
2    3
3    8
4    2
dtype: int64

In [50]:
#string itu karakter abcdef
jeruk.index=('a','b','c','d')

In [51]:
print(jeruk)

a    0
b    3
c    8
d    2
dtype: int64

In [52]:
print(jeruk['c'])
#kalau string itu pakai tanda petik

8

In [53]:
#membuat sebuah data frame karena sering digunakan pada machine learning
df1 = pd.DataFrame([3,2,0,1], columns=['apel'], index=[1,2,3,4])

In [54]:
df1

   apel
1     3
2     2
3     0
4     1

In [55]:
#membuat dataframe dengan 2 kolom
dic1 = {'apel':[5,2,0,1],'jeruk':[0,3,8,2]}
df1 = pd.DataFrame(dic1)
df1

   apel  jeruk
0     5      0
1     2      3
2     0      8
3     1      2

In [56]:
#dalam data preprpcessing, datanya harus seimbang 
df1.count()

apel     4
jeruk    4
dtype: int64

In [57]:
#integer = bilangan bulat(0,1)
df1.sum()

apel      8
jeruk    13
dtype: int64

In [58]:
df1.describe()

           apel    jeruk
count  4.000000  4.00000
mean   2.000000  3.25000
std    2.160247  3.40343
min    0.000000  0.00000
25%    0.750000  1.50000
50%    1.500000  2.50000
75%    2.750000  4.25000
max    5.000000  8.00000

In [59]:
#statistik deskriptif dari dataframe aple dan jeruk
#cara memunculkan apel saja
buahapel = df1.apel
buahapel

0    5
1    2
2    0
3    1
Name: apel, dtype: int64

In [60]:
buahjeruk = df1['jeruk']
buahjeruk

0    0
1    3
2    8
3    2
Name: jeruk, dtype: int64

In [61]:
jerukapel = df1[['jeruk','apel']]
jerukapel

   jeruk  apel
0      0     5
1      3     2
2      8     0
3      2     1

In [62]:
#mengambil semua data baris 1 dan 2
df1[0:2]

   apel  jeruk
0     5      0
1     2      3

In [63]:
#mengambil semua data sebelum x
df1[:2]

   apel  jeruk
0     5      0
1     2      3

In [64]:
jerukapel[:2]

   jeruk  apel
0      0     5
1      3     2

In [65]:
jerukapel[2:]

   jeruk  apel
2      8     0
3      2     1

In [66]:
#seleksi baris dengan cara 
#boolean nilainya yes or no
jerukapel['jeruk']>2

0    False
1     True
2     True
3    False
Name: jeruk, dtype: bool

In [67]:
#memunculkan yang jeruk lebih dari 2, apel ngikut jeruk
jerukapel[jerukapel['jeruk']>2]

   jeruk  apel
1      3     2
2      8     0

In [68]:
jerukapel

   jeruk  apel
0      0     5
1      3     2
2      8     0
3      2     1

In [69]:
jerukapel.head(2)

   jeruk  apel
0      0     5
1      3     2

In [70]:
#transpose 
jerukapel.T

       0  1  2  3
jeruk  0  3  8  2
apel   5  2  0  1

MENGGUAKAN INDEX

In [71]:
#INDEX ADA 2, YAITU KOLOM DAN BARIS
#PEMILIHAN DATA DENGAN INDEX KOLOM 3
#iloc itu untuk memilih index
jerukapel.iloc[3]

jeruk    2
apel     1
Name: 3, dtype: int64

In [72]:
#index baris
jerukapel.iloc[[1,2]]

   jeruk  apel
1      3     2
2      8     0

In [73]:
jerukapel.iloc[:2]

   jeruk  apel
0      0     5
1      3     2

In [74]:
jerukapel.iloc[0]

jeruk    0
apel     5
Name: 0, dtype: int64

In [75]:
jerukapel

   jeruk  apel
0      0     5
1      3     2
2      8     0
3      2     1

In [76]:
#preprocessing atau pembersihan data
#menghilangkan baris
jerukapel = jerukapel.drop(3)
jerukapel

   jeruk  apel
0      0     5
1      3     2
2      8     0

In [77]:
df2 = pd.DataFrame([1,2,2,3,4,5,5,6,7])
df2

   0
0  1
1  2
2  2
3  3
4  4
5  5
6  5
7  6
8  7

In [78]:
df2.duplicated()

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
8    False
dtype: bool

In [79]:
df2 = df2.drop_duplicates(keep='first')
df2

   0
0  1
1  2
3  3
4  4
5  5
7  6
8  7

In [80]:
columns = ['nilai']
df2

   0
0  1
1  2
3  3
4  4
5  5
7  6
8  7

In [81]:
df2 = pd.DataFrame([1,2,2,3,4,5,5,6,7], columns=['nilai'])
df2

   nilai
0      1
1      2
2      2
3      3
4      4
5      5
6      5
7      6
8      7

In [82]:
df2 = df2.drop_duplicates(keep='first')
df2

   nilai
0      1
1      2
3      3
4      4
5      5
7      6
8      7

In [83]:
df3 = pd.DataFrame([1,2, None ,4,5, None], columns=['nilai'])
df3

   nilai
0    1.0
1    2.0
2    NaN
3    4.0
4    5.0
5    NaN

In [84]:
#menhapus data yang kosong
df4 = df3.dropna()
df4

   nilai
0    1.0
1    2.0
3    4.0
4    5.0

In [85]:
#mengisi missing value dengan angka yang kita mau
df5 = df3.fillna(3)
df5

   nilai
0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    3.0

In [86]:
#mengisi nilai dengan mean
df6 = df3['nilai'].mean()
df6

3.0

In [87]:
df7 = df3.fillna(df6)
df7

   nilai
0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    3.0

MEMBACA FILE

In [88]:
#PENYEDIA DATASET IALAH KAGGLE
df8 = pd.read_csv('/content/List of countries by carbon dioxide emissions.csv')
df8

,Country,Fossil CO2 emissions(Mt CO2),Unnamed: 2,Unnamed: 3,Fossil CO2 emissions,Unnamed: 5,2017 Fossil CO2 emissions,Unnamed: 7,2018 CO2 emissions,Unnamed: 9
0,NaN,1990.000,2005.000,2017.000,2017(% of world),2017 vs 1990: change (%),Per land area(t CO2/km2/yr),Per capita(t CO2/cap/yr),Total including LUCF,Total excluding LUCF
1,World,22674.116,30049.809,37077.404,100.00%,63.50%,73,4.9,36431.11,35247.21
2,World International Aviation,258.941,422.777,543.381,1.47%,109.80%,NaN,NaN,NaN,NaN
3,World International Shipping,371.804,572.169,677.248,1.83%,82.20%,NaN,NaN,NaN,NaN
4,Afghanistan,2.546,1.063,11.422,0.03%,348.60%,18,0.3,7.59,7.44
...,...,...,...,...,...,...,...,...,...,...
208,Vietnam,20.182,99.231,218.729,0.59%,983.80%,660,2.3,245.36,257.86
209,Western Sahara,0.144,0.227,0.276,0.00%,91.70%,1,0.5,NaN,NaN
210,Yemen,6.887,21.768,12.503,0.03%,81.50%,24,0.4,9.31,9.31
211,Zambia,2.955,2.457,4.967,0.01%,68.10%,7,0.3,40.47,7.74
212,Zimbabwe,17.178,11.388,12.087,0.03%,-29.60%,31,0.7,99.43,12.27

In [89]:
df8.describe()

       Fossil CO2 emissions(Mt CO2)    Unnamed: 2    Unnamed: 3
count                    213.000000    213.000000    213.000000
mean                     243.016573    311.421516    374.298817
std                     1636.415890   2161.040668   2680.033230
min                        0.001000      0.002000      0.002000
25%                        0.684000      1.119000      1.771000
50%                        5.851000      7.806000     11.422000
75%                       57.242000     61.396000     72.249000
max                    22674.116000  30049.809000  37077.404000

In [90]:
df8.isnull().sum()

Country                          1
Fossil CO2 emissions(Mt CO2)     0
Unnamed: 2                       0
Unnamed: 3                       0
Fossil CO2 emissions             0
Unnamed: 5                       0
2017  Fossil CO2 emissions       2
Unnamed: 7                       2
2018 CO2 emissions              27
Unnamed: 9                      28
dtype: int64

In [91]:
df8.head()

,Country,Fossil CO2 emissions(Mt CO2),Unnamed: 2,Unnamed: 3,Fossil CO2 emissions,Unnamed: 5,2017 Fossil CO2 emissions,Unnamed: 7,2018 CO2 emissions,Unnamed: 9
0,NaN,1990.000,2005.000,2017.000,2017(% of world),2017 vs 1990: change (%),Per land area(t CO2/km2/yr),Per capita(t CO2/cap/yr),Total including LUCF,Total excluding LUCF
1,World,22674.116,30049.809,37077.404,100.00%,63.50%,73,4.9,36431.11,35247.21
2,World International Aviation,258.941,422.777,543.381,1.47%,109.80%,NaN,NaN,NaN,NaN
3,World International Shipping,371.804,572.169,677.248,1.83%,82.20%,NaN,NaN,NaN,NaN
4,Afghanistan,2.546,1.063,11.422,0.03%,348.60%,18,0.3,7.59,7.44

In [92]:
df9 = df8.dropna()
df9

,Country,Fossil CO2 emissions(Mt CO2),Unnamed: 2,Unnamed: 3,Fossil CO2 emissions,Unnamed: 5,2017 Fossil CO2 emissions,Unnamed: 7,2018 CO2 emissions,Unnamed: 9
1,World,22674.116,30049.809,37077.404,100.00%,63.50%,73,4.9,36431.11,35247.21
4,Afghanistan,2.546,1.063,11.422,0.03%,348.60%,18,0.3,7.59,7.44
5,Albania,6.583,4.196,5.026,0.01%,-23.70%,175,1.7,5.32,5.56
6,Algeria,65.677,98.197,159.929,0.43%,143.50%,67,3.9,151.87,151.67
7,Angola,5.851,15.975,30.876,0.08%,427.70%,25,1,62.93,27.34
...,...,...,...,...,...,...,...,...,...,...
207,Venezuela,109.268,152.464,145.877,0.39%,33.50%,159,4.6,181.29,138.16
208,Vietnam,20.182,99.231,218.729,0.59%,983.80%,660,2.3,245.36,257.86
210,Yemen,6.887,21.768,12.503,0.03%,81.50%,24,0.4,9.31,9.31
211,Zambia,2.955,2.457,4.967,0.01%,68.10%,7,0.3,40.47,7.74
212,Zimbabwe,17.178,11.388,12.087,0.03%,-29.60%,31,0.7,99.43,12.27

In [94]:
df9.isnull().sum()

Country                         0
Fossil CO2 emissions(Mt CO2)    0
Unnamed: 2                      0
Unnamed: 3                      0
Fossil CO2 emissions            0
Unnamed: 5                      0
2017  Fossil CO2 emissions      0
Unnamed: 7                      0
2018 CO2 emissions              0
Unnamed: 9                      0
dtype: int64

In [98]:
df10 = df9['Country']
df10

1            World
4      Afghanistan
5          Albania
6          Algeria
7           Angola
          ...
207      Venezuela
208        Vietnam
210          Yemen
211         Zambia
212       Zimbabwe
Name: Country, Length: 184, dtype: object

In [101]:
df11 = sorted(df9['Country'], key=str.lower)
df11

['Afghanistan',
 'Albania',
 'Algeria',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Cook Islands',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'European Union',
 'Fiji',
 'Finland',
 'France\xa0Monaco',
 'Gabon',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy\xa0San Marino Vatican City',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Korea',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'Saudi Arabia',
 'Senegal',
 'Serbia & Montenegro',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Korea',
 'Spain\xa0Andorra',
 'Sri Lanka',
 'Sudan\xa0South Sudan',
 'Suriname',
 'Sweden',
 'Switzerland\xa0Liechtenstein',
 'Syria',
 'São Tomé and Príncipe',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'The Gambia',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'World',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [102]:
df12 = df9.sort_values(by=['Country'])
df12

,Country,Fossil CO2 emissions(Mt CO2),Unnamed: 2,Unnamed: 3,Fossil CO2 emissions,Unnamed: 5,2017 Fossil CO2 emissions,Unnamed: 7,2018 CO2 emissions,Unnamed: 9
4,Afghanistan,2.546,1.063,11.422,0.03%,348.60%,18,0.3,7.59,7.44
5,Albania,6.583,4.196,5.026,0.01%,-23.70%,175,1.7,5.32,5.56
6,Algeria,65.677,98.197,159.929,0.43%,143.50%,67,3.9,151.87,151.67
7,Angola,5.851,15.975,30.876,0.08%,427.70%,25,1,62.93,27.34
9,Antigua and Barbuda,0.223,0.283,0.624,0.00%,179.80%,1412,6.1,0.53,0.53
...,...,...,...,...,...,...,...,...,...,...
208,Vietnam,20.182,99.231,218.729,0.59%,983.80%,660,2.3,245.36,257.86
1,World,22674.116,30049.809,37077.404,100.00%,63.50%,73,4.9,36431.11,35247.21
210,Yemen,6.887,21.768,12.503,0.03%,81.50%,24,0.4,9.31,9.31
211,Zambia,2.955,2.457,4.967,0.01%,68.10%,7,0.3,40.47,7.74
212,Zimbabwe,17.178,11.388,12.087,0.03%,-29.60%,31,0.7,99.43,12.27

In [ ]:
df12.isnull().sum()